.panel {
	// border: 1px solid #d0d0d0;
	box-shadow: 0px 0px 10px -1px rgba(0,0,0, 0.4);
	padding: 4px 6px;
	.uk-card-body {
		padding: 0;
	}
	.uk-dropdown {
		min-width: 100px;
	}
	.dropdown {
		padding: 0 2px;
		line-height: 1;
	}
	.uk-card-header {
		padding: 5px 2px;
	}
	
	[uk-dropdown] {
		margin-top: 0;
		padding: 2px 6px;
		
		a {
			text-transform: capitalize;
		}
		ul {
			margin-bottom: 0;
		}
	}
}