#modal_process {
	.uk-modal-header {
		padding: 15px 30px 7px;
	}
	.uk-modal-body {
		padding: 15px 30px;
	}
	.uk-alert {
		margin: 2px 0;
		padding: 2px 8px;
	}
	.uk-alert-close {
		top: 6px;
		right: 6px;
	}
	.uk-progress {
		margin-top: 2px;
	}
}