.wizard {
	button {
		border-radius: 4px;
	}
}
#modal_wiz2 {
	.uk-form-label {
		margin-top: 4px;
	}
	.small-btn {
		padding: 0;
		line-height: 0;
		border-radius: 50px;
	}
	.uk-table td {
		padding: 4px 4px;
	}
}
#modal_wiz4 {
	.uk-form-label {
		margin-top: 4px;
	}
	.small-btn {
		padding: 0;
		line-height: 0;
		border-radius: 50px;
	}
	.uk-alert {
		margin-top: 0;
		margin-bottom: 2px;
		padding: 2px 0px 2px 15px;
	}
	.uk-alert-close {
		top: 8px;
		right: 15px;
	}
	.uk-table td {
		padding: 4px 4px;
	}
	.retry-btn {
		color: firebrick;
	}
}