body {
	width: 100%;
	margin: 0 auto;
	font: 'BYekan', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #ffffec;
	// direction: rtl;
}
#content {
	background: #ffffec;
}

.ui-state-highlight {
	border: 1px solid #e3e3e3;
	background: #f0f8ff;
	color: #777620;
}

@import "panel";
@import "wizard";
@import "process";
@import "util";

@import "markAni";