body {
	width: 100%;
	margin: 0 auto;
	font: 'BYekan', Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
	
	// direction: rtl;
}
#content {
	background: #ffffdd;
	min-height: 800px;
}

.ui-state-highlight {
	border: 1px solid #e3e3e3;
	background: #f0f8ff;
	color: #777620;
}
@import "header";
@import "footer";

@import "toolbar";
@import "panel";
@import "wizard";
@import "process";
@import "util";

@import "markAni";
@import "login";