<div class="uk-alert-danger" uk-alert>
	<p>
		<i class="fa fa-exclamation-circle fa-fw red-text"></i>
		Could not fetch the groups. Try again manually:
		<a class="uk-margin-small-left retry-btn" data-retry><i class="fa fa-refresh"></i></a>
	</p>
</div>