<i class="fa fa-exclamation-circle fa-fw red-text fa-lg" title="Could not fetch the date and time."></i>
<a class="uk-margin-small-right" data-retry title="Try again manually."><i class="fa fa-refresh fa-lg"></i></a>