<div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p class="uk-text-bold"><i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i> {{ message }}</p>
</div>