<div class="uk-alert-{{type}}" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p class="uk-text-bold">
			<i class="
				fa
				{{#if primary}}fa-info-circle{{/if}}
				{{#if success}}fa-check-circle{{/if}}
				{{#if warning}}fa-exclamation-circle{{/if}}
				{{#if danger}}fa-exclamation-triangle{{/if}}
				fa-lg
				" aria-hidden="true">
			</i> {{message}}</p>
</div>