<tr data-sensor-id="{{id}}" data-sensor-name="{{name}}">
	<td title="{{name}}">{{name}}</td>
	<td>
		<select class="uk-select uk-form-small" data-select data-todisable>
			<option value="Microsecond" {{#if micro}}selected{{/if}}>Microsecond</option>
			<option value="Millisecond" {{#if mili}}selected{{/if}}>Millisecond</option>
			<option value="Second"      {{#if sec}}selected{{/if}}>Second</option>
		</select>
	</td>
	<td>
		<input type="text" data-colorpick />
	</td>
	<td>
		<button type="button" class="uk-button uk-button-danger uk-button-small small-btn" data-delete-sensor data-todisable>
			<span uk-icon="icon: close; ratio: 0.7" class="uk-icon"></span>
		</button>
	</td>
</tr>