<div class="uk-overflow-auto">
	<table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-striped">
		<tr>
			<th>SLA</th>
			<th>KPI Name</th>
			<th>Severity</th>
			<th>Value</th>
		</tr>
		<tr>
			<td>{{ sla }}</td>
			<td>{{ kpiName }}</td>
			<td>{{ severity }}</td>
			<td>{{ value }}</td>
		</tr>
	</table>
</div>