<tr data-id="{{id}}">
	<td title="{{name}}">{{name}}</td>
	<td>
		<button type="button" class="uk-button uk-button-danger uk-button-small small-btn" data-el="remove" data-els="toDisable">
			<span uk-icon="icon: close; ratio: 0.7" class="uk-icon"></span>
		</button>
	</td>
</tr>