<div id="content" class="uk-container uk-container-expand uk-padding-small" data-root="content">
	
	<div class="uk-margin">
		<button type="button" class="uk-button uk-button-primary uk-text-bold uk-text-capitalize" data-el="add">Add Component</button>
	</div>
	
	<div class="
		uk-grid-collapse
		uk-grid-match
		uk-child-width-1-3
		uk-text-center
	" uk-sortable="handle: .uk-sortable-handle" uk-grid>
		
		<div class="panel uk-card uk-card-default" data-panel>
			<div class="uk-card-header">
				<span class="uk-card-title uk-float-left uk-text-muted uk-text-small uk-text-bold"><i class="uk-sortable-handle" uk-icon="icon: move; ratio: 1"></i> Component</span>
				<div class="uk-float-right uk-margin-small-right">
					<div class="uk-inline">
							<button class="dropdown uk-button uk-button-default uk-button-small" type="button">
								<span uk-icon="icon: settings; ratio: 1"></span>
							</button>
							<div uk-dropdown="mode: click">
								<ul class="uk-list uk-text-left">
									<li><a class="uk-button uk-button-text uk-text-small uk-text-meta" data-menu data-action="0"><i uk-icon="icon: expand; ratio: 0.8;"></i> Expand</a></li>
									<li><a class="uk-button uk-button-text uk-text-small uk-text-meta" data-menu data-action="1"><i uk-icon="icon: shrink; ratio: 0.8;"></i> Shrink</a></li>
									<li><a class="uk-button uk-button-text uk-text-small uk-text-meta" data-menu data-action="2"><i uk-icon="icon: file-edit; ratio: 0.8;"></i> Edit</a></li>
									<li><a class="uk-button uk-button-text uk-text-small uk-text-meta" data-menu data-action="3"><i uk-icon="icon: close; ratio: 0.8;"></i> Delete</a></li>
								</ul>
							</div>
					</div>
				</div>
			</div>
			<div class="uk-card-body">
				<canvas id="chart"></canvas>
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		<div class="panel uk-card uk-card-default" data-panel>
			<div class="uk-card-header">
				<span class="uk-card-title uk-float-left uk-text-muted uk-text-small uk-text-bold"><i class="uk-sortable-handle" uk-icon="icon: move; ratio: 1"></i> Component</span>
				<div class="uk-float-right uk-margin-small-right">
					<div class="uk-inline">
							<button class="dropdown uk-button uk-button-default uk-button-small" type="button">
								<span uk-icon="icon: settings; ratio: 1"></span>
							</button>
							<div uk-dropdown="mode: click">
								<ul class="uk-list uk-text-left">
									<li><a class="uk-button uk-button-text uk-text-small uk-text-meta" data-menu data-action="0"><i uk-icon="icon: expand; ratio: 0.8;"></i> Expand</a></li>
									<li><a class="uk-button uk-button-text uk-text-small uk-text-meta" data-menu data-action="1"><i uk-icon="icon: shrink; ratio: 0.8;"></i> Shrink</a></li>
									<li><a class="uk-button uk-button-text uk-text-small uk-text-meta" data-menu data-action="2"><i uk-icon="icon: file-edit; ratio: 0.8;"></i> Edit</a></li>
									<li><a class="uk-button uk-button-text uk-text-small uk-text-meta" data-menu data-action="3"><i uk-icon="icon: close; ratio: 0.8;"></i> Delete</a></li>
								</ul>
							</div>
					</div>
				</div>
			</div>
			<div class="uk-card-body">
				<canvas id="container"></canvas>
			</div>
		</div>
		
	</div>
</div>